* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.answerBtns {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.quizCompletion {
  margin: 10px 0 10px 10px;
  width: 60vw;
  font-size: 18px;
  font-weight: normal;
}
