* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.answerBtns {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.quizAbsence {
  margin: 10px 0 10px 10px;
  font-size: 18px;
  font-weight: normal;
}
.feedback {
  margin: 10px 0 10px 10px;
  font-size: 18px;
  font-weight: normal;
}
.quiz_results_block {
  margin: 10px 0 10px 10px;
  font-size: 18px;
}
.quiz_results_block p,
.quiz_results_block h3 {
  margin-bottom: 10px;
}
.quiz_results_block p:last-of-type {
  margin-bottom: 50px;
}
